{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

  <div class="container" data-aos="fade-up">
    <div class="section-title">
        <br> <br> <br> <br>
      <h2>Gallery</h2>
      <p>Some photos from our projects</p>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-0">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it1.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it1.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it2.png" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it2.png' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it3.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it3.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it4.png" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it4.png' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it5.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it5.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it6.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it6.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it7.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it7.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="static/assets/img/Stone/marble/circle/it8.jpg" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'assets/img/Stone/marble/circle/it8.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>

  </div>
</section> 

<!-- End Gallery Section

<!-- ======= Chefs Section ======= -->
<!-- <section id="chefs" class="chefs">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Customers</h2>
      <p>Our Valuable Customers</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
          <img src="{% static 'assets/img/Stone/marble/circle/p1.jpg' %}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Walter White</h4>
              <span>Ceo</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'assets/img/Stone/marble/circle/p2.jpg' %}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sarah Jhonson</h4>
              <span>Developer</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="300">
          <img src="{% static 'assets/img/Stone/marble/circle/p3.jpg' %}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section> -->
</main><!-- End #main -->

{% endblock %}















